@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes launchMiddle {
    0% {width: 0;}
    100% {width: 100%;}
}

:root {
    --radius: 3px;
}

body {
    background-color: rgb(3, 9, 22);
}

optgroup {
    font-family: 'Poppins', sans-serif;
}

.inputs {
    margin-right: 17.5px;
}

.atkcontent select {
    width: 100%;
}

.atkpanel {
    max-height: max-content;
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
    background-color: #212020;
    position: absolute;
    width: 750px;
    height: 465px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    white-space: nowrap;
}

.atkcontent {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.atkcontent p {
    line-height: 10px;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.atkcontent input:focus {
    border: 2px solid #3b82f6;
    background-color: black;
}

.atkcontent input {
    transition: border 0.25s;
    transition: background-color 0.25s;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #525252;
    border-radius: var(--radius);
    background-color: #525252;
    color: aliceblue;
    width: 100%;
    padding: 5px 6px;
    caret-color: aliceblue;
    outline: none;
}

.atkcontent button {
    transition: background-color 0.1s;
    font-weight: 400;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    width: 100%;
    height: 40px;
    background-color: #6366f1;
}

.atkcontent button:active {
    background-color: #3639ef;
}

.atkcontent select {
    width: 100%;
    height: 40px;
    transition: border 0.25s;
    transition: background-color 0.25s;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #525252;
    border-radius: var(--radius);
    background-color: #525252;
    color: aliceblue;
    caret-color: aliceblue;
    outline: none;
}

.atkcontent option {
    margin-left: 0;
    padding: 0 .75rem;
}

.servers p {
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

.servers svg {
    filter: invert(100%);
    height: 50px;
}

.servers {
    position: relative;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    line-height: 10px;
    align-items: center;
    display: flex;
    height: 100px;
    border-radius: 10px;
    text-align: left;
    width: 300px;
    margin: auto;
    background-color: #212020;
}

.serversright {
    flex-grow: 1;
}

.serversleft {
    margin-right: 25px;
    margin-left: 25px;
    vertical-align: middle;
}